/* This provides styling for the entire page */
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/* This is the header section */
header{
    margin-top: -4em;
    height: 110vh;
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(resources/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header h1{
    font-family: Oleo Script Swash Caps;
    font-size: 6em;
    padding-top: 2em; 
}
header h1 span{
    color: yellow;
}
header p{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;

}